body{
	padding:0px;
	margin:0px;
<<<<<<< HEAD
<<<<<<< HEAD
	background-color:green;
}
h1{
	font-weight:bold;
	font-size:32px;
=======
>>>>>>> parent of ff125e0...  Este eh o meu projeto na versao 1.0
=======
>>>>>>> parent of ff125e0...  Este eh o meu projeto na versao 1.0
}